.simon-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .buttons button {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  }
  
  #green {
    background-color: #00ff00;
  }
  
  #red {
    background-color: #ff0000;
  }
  
  #yellow {
    background-color: #ffff00;
  }
  
  #blue {
    background-color: #0000ff;
  }
  
  .controls button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  #start {
    background-color: #0f0;
  }
  
  #strict {
    background-color: #f00;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }